<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spite">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_nav_kyle_progress"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".NotificationSetting"/>
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EndWorkout" />
        <activity android:name=".KyleSettings" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangeEmail" />
        <activity android:name=".Settings" />
        <activity android:name=".CurrentWorkout" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".alarmreceivers.DailyReceiver" />
        <receiver android:name=".alarmreceivers.WeeklyReceiver" >
        </receiver>
        <service android:name=".CloudMsg"
            android:exported="false">
            <intent-filter>
                    <action android:name="come.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

    </service>

    </application>

</manifest>